/* style tag targets header/body items of the same tag in css to format the page. 
i.e. "h1 {}" targets only items with the h1 tag around it */
/* ul li targets only the list items/text and not the bulletpoints. 
Same applies for ol li */

			body {
				background-color: #aaaaaa;
				font-family: 'Abel'; sans-serif;
				position: center;
				margin: 0 auto;
				max-width: 1000px;
			}
			}

			h1 {
				color: rgba(255, 255, 255, 1);
				text-align: center;
				font-size: 75px;
			}

			h3 {
				color: white;
				background-color: rgba(0,0,0,.4);
			}

			p {
				font-family: Arial;
			}

			div {
				height: 70px;
				background-size: cover;
				position: center;
			}

			ul {
				font-size: 20px;
			}

			a {
				font-size: 25px;
				color: rgba(0,0,0,1);
				font-family: 'Indie Flower', cursive;
				text-align: center;
			}

			img {
				margin: 0 0 30px 0;
				position: center;
				border: 7px solid white;
				border-radius: 20px;
			}

			table {
				font-size: 20px;
			}

			#head {
				text-align: center;
				font-family: 'Indie Flower', cursive;
				font-size: 50px;
				color: #232323;
			}

			#opening {
				text-align: center;
				font-family: 'Abel'; sans-serif;
				font-size: 25px;
				margin: 20px 0 5px 0;
			}

			#Languages_title {
				color: white;
			}

			
			.language_item {
				color: (0,255,255,1);
			}

			.first {
				text-align: center;
				margin: 0 auto;
				min-width: 200px;
			}

			.profile {
				height: 100px;
			}

			.images {
				min-height: 450px;
			}

			.lang {
				height: 450px;
			}

			#social-buttons button {
				color: white;
				font-family: 'Abel'; sans-serif;
			}

			.btn-twitter {
				background-color: #00acee;
				border-color: #009ad5;
			}

			.btn-Github {
				background-color: rgba(0,0,0,1);
				border-color: rgba(255,255,255,1);
				margin: 0 auto;
			}

			.btn-wordpress {
				background-color: #21759b;
				border-color: #FFFFFF;
				position: justify;
			}

			.jumbotron {
				height: 300px;
				background-image: url('jumbotron-image.jpg');
				background-size: cover;
				background-attachment: fixed;
			}
